---
title: art gallery
layout: layouts/base.njk
pixel: critter
css: cmyk
eleventyExcludeFromCollections: true
---

<div id="flex" style="margin: -20px;padding: 20px;background-image:url('/img/wobble.gif')">

    {% include 'gallerysidebar.njk' %}

    <section style="flex:75%;padding:1.5em;">
        
       
        <div class="gallery-holder">
            <div id="flex" class="gallery-thumbs">
                {% for post in collections.commission reversed %}
                     <div class="inner thumb">
                        <a href="/img/art/{{ post.data.full }}" data-fancybox="full" data-caption="{{ post.data.title }}">
                            {{ post.templateContent }}
                        </a>
                    </div>
                
                {% endfor %}
            </div>
            </div>
        </div>
    </section>

</div>