---
layout: layouts/cmyk.njk
---
<div id="journal">
  <div class="row">
    <div class="entries post column">
      <h2 class="title">
          <a href="{{post.url}}">
            {{ title }}
          </a>
      </h2>
      <article class="outer {{ color }}border" >
        <div id="flex" class="mobilepost">
          <section class="icon">
            <img src="/img/icons/{{ icon }}.png" alt="Journal entry icon">
            <p align="center">(<a href="{{ source }}" target="_blank">source</a>)</a>
          </section>
          <div class="inner">
            {% block content %}
              {{ content | safe }}
            {% endblock %}
          </div>
        </div>
        <section class="journal-footer">
          <span class="date">{{ date }}
            <img src="/img/date.gif" alt="Journal pixel"></span>
            {# I'll be so honest idk why this is broken #}
          <span class="date">tagged as:  {{ tags | join(", ") }}</span>
        </section>
      </article>

    <div align="center"> <a href="../../journal/"><img src="/img/back.gif"></a> </div>
     
    </div>
  </div>
</div>
