---
layout: layouts/cmyk.njk
---


<div id="flex" style="margin: -20px;padding: 20px;background-image:url('/img/stars.png')">

    {% include 'src/gallerysidebar.njk' %}

    <section style="flex:75%;padding:1.5em;">
        <h1 align="center" style="margin-top:0">{{ title }}</h1>
        <div class="gallery-holder">
            <div id="flex" class="gallery-thumbs">
               
                <div class="inner thumb">
                    {{ content | safe }}
                </div>
               
            </div>
            </div>
        </div>
    </section>
</div>