:root {
    --highlight: #264f0e;
    --header-bg: #6f8c1a;
    --header-image: url('/img/tv.jpg');
    --main-bg: url('/img/puppy.png') !important;
    --outerbg: url('/img/wobble.gif');
}

.tos {
    margin: 0 !important;
    border-top: 0 !important;
}



header {
    background-image: var(--header-image);
}

.logo:hover {
    transform: perspective(1000px) rotateX(6deg) rotateY(-24deg) rotateZ(2deg) scale(1.1) !important
}

.open, .closed {
    font-family: miniwakuwaku;
    float: initial !important;
}

.open, .closed img {
    max-height: 32px;
}

.closed {
    color: tomato;
}

.open::after {
    content: "OPEN! " url('/img/happy.gif');
}

.open {
    color: yellowgreen;
}

.closed::after {
    content: "CLOSED! " url('/img/sad.gif');
    image-rendering: initial;
}

.purpleborder {
    border-image-source: url('/img/imgborderpurple.png') !important;
}


h3, h4 {
    margin: 1em !important;
}

.payment {
    padding: 1.5em;
}

.payment details > summary {
    display: flow-root list-item !important;
}

.payment details {
    padding: 1em;
    border: 1px solid;
    border-radius: 10px;
    background: url('/img/greengrid.gif');
  }

.payment details:nth-child(1) {
    margin-bottom: 1.5em;
}

.payment summary {
    background: linear-gradient(to bottom, rgba(80, 136, 168, 0) 40%, rgb(255, 255, 255) 100%), url("/img/newleaf.gif");
    padding: .5em;
    border: 1px solid;
    border-radius: 10px;
}

.payment .stroke {
    color: white;
    font-weight: bold;
    font-family: miniwakuwaku;
}

.payment .inner {
    margin-top: 1em;
}

.payment h3 {
    font-family: miniwakuwaku;
    margin:0 !important;
}

.thumb {
    transition: transform .3s ease-out;
    width: fit-content;
    box-shadow: 4px 4px 4px #7a6d7e;
}

#row.highlight-tags .tag:nth-child(1) {
    display: none;
  }

#row.highlight-tags {
    text-align: center;
  }

.thumb img {
    background:url('/img/dots.gif');
    box-shadow: 2px 2px 1px 0px inset #00000080;
    min-width:100px;
    min-height:100px;
    border: none;
    image-rendering: pixelated;
}

.gallery-thumbs {
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

#flex > #desktop {
    flex-direction: column;
}

.gallery-holder .inner {
    transition: transform .3s ease-out;
    border: 3px double;
    border-radius: 8px;
}

.data {
    background-image: url('/img/data.png');
    border-right: 5px double var(--highlight);
    margin: -20px;
    padding: 20px;
}

.tag-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tag-holder .wooden {
    height: fit-content;
    box-shadow: 2px 2px 2px black;
}

.data .outer {
    padding: 0;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}

.cork {
    background-image: url('/img/cork.png');
    background-size: 200px;
    border-image: url('/img/pmdtextbox.png') 32 round !important;
    border-image-width: 2 !important;
    border-radius: 16px;
    border: 10px solid transparent;
    padding: 2em;
}

.cork .thumb {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.532);
}

.cork .inner.thumb::before {
    background-color: rgba(255, 236, 190, 0.91);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    content: "";
    display: block;
    height: 21px;
    margin: auto;
    margin-top: -15px;
    width: 40px;
    pointer-events: none;
    position: absolute;
    margin-left: -25px;
    transform: rotate(-40deg);
    }
.cork .inner.thumb::after {
    background-color: rgba(255, 236, 190, 0.91);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    content: "";
    display: block;
    height: 21px;
    margin: auto;
    margin-top: -119px;
    width: 40px;
    pointer-events: none;
    position: absolute;
    margin-left: 85px;
    transform: rotate(40deg);
    }

/* media query */


@media only screen and (max-width: 800px) {

    .gallery-holder {
        margin: -2em;
        margin-top: initial;
    }

    .data {
        border-right: 0;
    }

    #mobilemenu {
        display: flex;
    }

    #mobilemenu.data {
        border-bottom: 5px double var(--highlight);
    }
}