:root {
    --notification-sfx: url("https://files.catbox.moe/2ciwpz.mp3");
  }

/* cursor */

html, div, p {
    cursor: url("https://files.catbox.moe/5hi1be.png"), default;
    } 
    
    button:hover, a:hover {
        cursor: url("https://files.catbox.moe/whpv5e.png"), pointer;
    }
    
    a:active, button:active {
        cursor: url("https://files.catbox.moe/zu9zfn.png"), pointer;
    }


body {
    font-family: MS PGothic, Verdana;
    font-smooth: never;
    font-size: inherit;
}
#background, #settingsMenu {
    background: url('https://files.catbox.moe/opl3g0.gif');

    background-attachment: local;
    background-repeat: repeat;
}
a  {
    color: #45bb00;
}



#top_banner {
    font-family:  MS PGothic, Verdana;
    font-weight: bolder !important;
    background: #45bb00;
    background: linear-gradient(0deg, rgba(170,170,255,1) 0%, rgba(238,238,255,1) 50%, rgba(170,170,255,1) 100%);
    width: calc(100% - 2px);
    border: solid 1px #99E;
    box-shadow: 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 2px #FFF, 0 0 1px #FFF, 0 3px 4px #325500;
    text-shadow: 1px 1px 2px #325500;
    position: relative;
    z-index: 4;
}
.allMessages {
    background-color: #FFF;
    background-size: 100px 100px;
    box-shadow: 0 0 4px #FFF, 0 0 4px #FFF, 0 0 4px #FFF, 0 0 4px #FFF, 0 0 4px #FFF, 0 3px 4px #325500;
    border: 1px solid #45bb00 !important;
    border-radius: 8px;
    margin: 20px 0px 0 0px;
    position: relative;
}
.allMessages.containsOnlyEmojis .emoji {
    height: 50px;
}
.msgWrapper:has(.pm) {
    padding-top: 26px;
}
.allMessages.pm {
    border-color: #F55;
}
.allMessages.pm:after {
    content: "Private Message";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F55;
    color: #FFF;
    height: 16px;
    padding: 5px;
    position: absolute;
    right: 5vw;
    bottom: 100%;
    z-index: 5;
    border-radius: 5px 5px 0 0;
}
.msgWrapper + .msgWrapper {
    margin-top: 25px;
    margin-bottom: 15px;
}
#timestamp {
    font-size: 2.25vw;
    margin-top: 10px !important;
}
#input {
    background-color: #FFF;
    border-radius: 0;
    border-top: 1px solid #45bb00!important;
    font-family:  MS PGothic, "MSGothic";
}
#name {
    background-color: #FFF;
    border-radius: 0;
    border: solid 1px #45bb00;
    padding: 2px;
    font-family:  MS PGothic, "MSGothic";
}
#settings:hover {
    filter: drop-shadow(0 0 3px #FFF) drop-shadow(0 0 3px #FFF) drop-shadow(0 0 3px #FFF);
    transform: rotate(180deg);
}
#settings {
    filter: drop-shadow(0 0 1px #FFF) drop-shadow(0 0 1px #FFF) drop-shadow(0 0 1px #FFF);
    transition: all 250ms linear;
}
#emojiTrayToggle {
    height: 15px;
    width: 15px;
    padding: 6px;
    margin-top: 3px;
    margin-left: 3px;
    background-image: url(/media/pixel-emoji.webp) !important;
    opacity: 0.5;
}
#is_typing {
    filter: drop-shadow(0 0 1px #FFF) drop-shadow(0 0 1px #FFF) drop-shadow(0 0 1px #FFF);
    background-color: #FFF;
    border: solid 1px #000;
    border-radius: 3px;
    left: unset;
    right: 10px;
    bottom: 27px;
    overflow: visible;
}
#is_typing:hover::after {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    content: "Someone is typing";
    font-size: 10pt;
    position: fixed;
    right: 35px;
    bottom: 0;
    width: 50vw;
    color: #000;
    z-index: 100000;
}
#is_typing > span {
    background-color: #45bb00;
    border-radius: 0;
    height: 2px;
    width: 2px;
}

#is_typing > span:nth-child(1) {
background-color: #72c8d5;
}

#is_typing > span:nth-child(2) {
background-color: #c35272;
}
  
#is_typing > span:nth-child(3) {
background-color: #ffd200;
}
    

/*TENDO END*/


.msgWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.allMessages {
 width: calc(95% - 80px);
 padding: 10px;
 position: relative;
 border: solid 1px #000;
}
.msgWrapper + .msgWrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}
.allMessages:hover:before {
  content: attr(time);
  position: static;
  float: right;
}
.allMessages.containsOnlyEmojis .emoji {
    height: 50px;
}

.emoji {
    image-rendering: pixelated;
}
.allMessages.pm {
  padding-top: 26px;
}
.allMessages.pm:before {
  content: "[Private Message]";
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 16px;
  padding: 5px;
  width: calc(100% - 10px);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 8pt;
  font-weight: bold;
  color: #F33;
}
.sent {
 border-radius: 5px 5px 0 5px;
 background-color: #fff;
 color: #111;
}
.sent:after {
 content: " ";
 background-color: inherit;
 height: 10px;
 width: 10px;
 position: absolute;
 right: -6px;
 bottom: 6px;
 transform: rotateZ(45deg);
 border-radius: 0 2px 0 0;
 border-right: solid 1px #45bb00;
 border-top: solid 1px #45bb00;
}
.msgWrapper:has(.sent){
  flex-direction: row-reverse;
}
.msgWrapper:has(.sent, .recieved):before {
  content: " ";
  width: 50px;
  height: 50px;
  background-color: #FFF;
  background-image: url(https://files.catbox.moe/2lvxt1.gif);
  background-size: 100% auto;
  float: right;
  margin: 2px;
  margin-left: 15px;
}

.msgWrapper:has(.recieved):before {
  margin-left: 0;
  margin-right: 15px;
}
.msgWrapper:has(.allMessages[uid="kaW7woNk6lXjj2e8LxWDywo4LAG2"]):before {
  background-image: url(https://andrew-grider.com/media/me-min.png);
}
.msgWrapper:has(.allMessages[uid="qDQkWftkPIMyUDJppSHQTVJI6ex2"]):before {
  background-image: url(https://dexaroth.neocities.org/favicon.gif);
}
.msgWrapper:has(.allMessages[uid="CmTN4TSKqYggJKSxaOlvI8PbVFo2"]):before {
  background-image: url(https://files.catbox.moe/91ztsf.gif);
  /* meeeee */
}
.msgWrapper:has(.allMessages[uid="pqahuihvzLTkWqa7ysv8axvVWwl1"]):before {
  background-image: url(https://files.catbox.moe/4xs8sw.gif);
  /* codaa */
}

.msgWrapper:has(.allMessages[uid="jKNctIIhKtMQqiOmSpltYetfoK33"]):before {
  background-image: url(https://files.catbox.moe/ocaat2.png);
  /* kyatto */
}

.msgWrapper:has(.allMessages[uid="aLZKOmn0aVhUUkchK4TAkt2Zc5k1"]):before {
  background-image: url(https://files.catbox.moe/pvom5g.gif);
  /* lemmy */
}
.msgWrapper:has(.allMessages[uid="N67QRmck4fWIfW4ghung0nqm8V92"]):before {
  background-image: url(https://files.catbox.moe/pvom5g.gif);
  /* lemmy */
}

.recieved:after {
 content: " ";
 background-color: inherit;
 height: 10px;
 width: 10px;
 position: absolute;
 left: -6px;
 bottom: 6px;
 transform: rotateZ(45deg);
 border-radius: 0 0 0 2px;
 border-left: solid 1px #45bb00;
 border-bottom: solid 1px #45bb00;
}
.recieved {
 border-radius: 5px 5px 5px 5px;
 background-color: #fff;
 color: #000;
}
blockquote {
 background-color: #777;
 color: #111;
 border-color: #000;
}

#input {
 color: #111;
 background: #FFF;
 border: none;
 outline: none;
}
#input:empty::before {
 content: "Write a message...";
 color: #777;
}
.badge {
  display: none;
}
.senderInfo:has(.mod, .owner, .beta):after {
 content: " ";
 height: 10pt;
 width: 10pt;
 background: transparent;
 border-radius: 50%;
 background-image: url(https://files.catbox.moe/465hr0.gif);
 background-size: 100% 100%;
 margin-left: 5px;
 filter: contrast(1.5);
}
.devTag {
    display: none;
}
.senderInfo * {
 text-decoration: none;
}
.senderInfo {
 font-style: italic;
}
#timestamp {
 display: none;
}
#textInput {
 background-color: #FFF;
}
#top_banner {
  display: none;
}
#replyBanner {
  background-color: #333;
  font-size: 10pt;
}
.ctxMenuOption {
  background-color: #333 !important;
  color: #AAA;
  position: relative;
}
.ctxMenuOption:hover:after {
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  top: 0;
}
#ctxMenu {
  background-color: #555 !important;
}
.msgBody a {
  color: inherit !important;
}
#settings {
  filter: invert(100%) drop-shadow(0 0 2px #000);
} 
#settingsMenu hr {
  height: 2px;
  width: 100%;
  margin: auto;
  background-color: #AAA;
  border: none;
}

#emojiTray {
  color: #111;
}
.pinned {
 position: sticky;
 top: 0;
 
 z-index: 2;
 border-radius: 5px;
 overflow: hidden;
 cursor: default;
}
.pinned:before {
    all: unset !important;
}
.pinned > .allMessages {
    box-shadow: 0 0 3px #000;
    width: 100%;
    transition: opacity 250ms ease;
}
.pinned:hover > .allMessages {
    opacity: 0.25;
}
.pinned > .allMessages::after {
    display: none;
}
.pinned:after {
 display: inline-block;
 position: absolute;
 right: 2px;
 top: 2px;
 content: "📌";
}
