:root {
    --outerbg: linear-gradient(to bottom, rgba(254,255,232,0.2) 0%,rgba(150, 101, 38, 0.48)100%),#fff2ab;
    --header-image: url('/img/route34.png');
    --main-bg: url('/img/pokemon/yellow tubotubo.gif');
    --header-image: url('/img/route34.png');
    --border: black;
    --border-hover: black;
    --sidebar-holder: #415940 url('/img/pokemon/XD4.png');
}
#leftsidebar {
    border-right: 1px solid;
}

#rightsidebar {
    border-left: 1px solid;
}

#rightsidebar .inner {
    border: 1px solid;
  outline: 1px solid;
  outline-offset: -5px;
  border-radius:10px;
}

main {
    padding: 0!important;
}

.wrapper {
    box-shadow: 1px 1px 5px 1px black inset;
    padding: 1.5em;
}

aside .links:hover a:before {
    content: url('/img/blackarrow.gif');
    margin-right: 3px;
    margin-left: -3px;
}

aside main {
    background: var(--sidebar-holder);
}

main header {
    height: 175px;
    background-position: 0px -600px;
    background-size: cover;
    image-rendering: pixelated;
}

.mascot {
    top: 3vmax !important;
}

.logo {
    filter: drop-shadow(0px 2px white) drop-shadow(0 -2px white) drop-shadow(2px 0 white) drop-shadow(-2px 0 white)
}

.logo:hover {
    filter: drop-shadow(0px 2px white) drop-shadow(0 -2px white) drop-shadow(2px 0 white) drop-shadow(-2px 0 white);
    transform: scale(1.2);
}
aside {
    width:250px;
    overflow: hidden;
}

aside section div a {
    color: initial !important;
}

aside section {
    background: linear-gradient(to bottom, rgba(254,255,232,0.2) 0%,rgba(50, 102, 7, 0.834)100%),url('/img/pokemon/boxbg.png');
    box-shadow: 0px 0px 1px 0.5px #150e0569 inset, 0px 2px 3px #0000005c;
    margin: .7em;
    border-radius: 10px;
    border-left: 0px solid;
    outline: 1px solid white;
}

aside h3 {
    background-size: cover !important;
    background-repeat: no-repeat!important;
    padding: .3em!important;
    text-align: center!important;
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
    box-shadow: 0px 0px 1px 0.5px #e7f898 inset, 0px 2px 3px #0000005c;
}

aside section .links {
    padding: .5em;
    transition: .1s linear all;
    border-bottom: 1px dashed;
    border-left: 0px solid;
}

aside section .links:hover {
    border-left: 6px solid var(--border);
}

aside section .links:hover {
    border-left-color: var(--border-hover);
}

aside section .links:nth-child(1):hover {
    border-radius: 0 10px 0 0;
}

aside section {
    border-left: 6px solid var(--border);
}

aside section:hover {
    border-left-color: var(--border-color);
}

.blank, .blank:hover {
    border-left: none !important;
}

#leftsidebar section div:hover {
    background: rgba(255, 255, 255, 0.297);
}

.outer {
    background: var(--outerbg);
    padding:1.5em;
    border-image: url('/img/pokemon/inner.png') 16;
    border-image-width: 2;
    image-rendering: initial !important;
    border-radius:21px;
    }

/* sidebar styling */

.viridian {
    background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(255,255,255,0) 100%), url('/img/pokemon/viridianbanner.png');
}

.ilex {
    background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(255,255,255,0) 100%), url('/img/pokemon/ilex.png');
    background-position: bottom;
}

.hgss {
    background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(255,255,255,0) 100%), url('/img/pokemon/hgssbanner.png');
    background-size: cover;
    background-position: right;
}

.pokewalker {
    background: linear-gradient(to right, rgb(255, 255, 255) 0%,rgba(255,255,255,0) 100%), url('/img/pokemon/pokewalker.png');
    background-position: center;
}

.quote {
  position: relative;
  display: inline-block;
  text-wrap: nowrap;
  animation: marquee 16s 0s linear normal infinite;
}

.marquee {
  background: url('/img/pokemon/XD6.png');
  padding: .5em;
  color: white;
  font-family: ranyth;
}

#chattable {
    margin-bottom: -5px;
    height: 25vh;
}

label {
    font-size: small;
}

.pollcode {
    font-size: small;
    margin-top: .5em;
    border-top: 1px dashed;
}

.heartgold {
    border-image: url('/img/pokemon/hgborder.png') 26 round !important;
    border-image-width: 2 !important;
    background: white;
    box-shadow: initial;
    border-image-width: 2;
    padding: .8em;
    border: 10px solid transparent;
    border-radius: 5px;
    padding-top: .5em;
    padding-bottom: .5em;
}

.soulsilver {
    border-image: url('/img/pokemon/ssborder.png') 26 round !important;
    border-image-width: 2 !important;
    background: white;
    box-shadow: initial;
    border-image-width: 2;
    padding: .8em;
    border: 10px solid transparent;
    border-radius: 5px;
    padding-top: .5em;
    padding-bottom: .5em;
}