---
title: art
layout: layouts/base.njk
pixel: critter
css: cmyk
comms: open
featured: zettai.png
---
<div class="row">
  <div class="column two" style="flex:100%">
    <h1 align="center"><img src="/img/critterhead.gif" alt="Critter head wiggle pixel"><br>Welcome to the Artist's den! <img src="/img/cmypaw2.gif" alt="Favicon Paw symbol"></h1>
    
    <div class="outer yellowborder" style="padding-top:0">

      <div align="center" class="commbuttons">

        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support me on Ko-fi', '#77a84f', 'V7V694TRC');kofiwidget2.draw();</script> 

        <div class="btn-container">
          <a title="Support me on Vgen.com" class="kofi-button" style="background-color:#77a84f;" href="https://vgen.co/chimera" target="_blank"> <span class="kofitext"><img src="/img/vgen.png" alt="Vgen donations" class="kofiimg vgen">Support me on Vgen</span></a>
        </div>

      </div>

      <div class="inner" style="text-align:center">
        My name's <a title="Read more about me, uh... soon!"><b>
          <span class="wobble">
            <span>C</span>
            <span>H</span>
            <span>I</span>
            <span>M</span>
            <span>E</span>
            <span>R</span>
            <span>A</span>
            <span>,</span>
          </span>
      </b></a> and I'm an animal who's an artist!<br>
        This is where you'll find updates on my commission status, and everything related to my artwork.
      </div>
      
    </div>
  </div>
  <div class="column" style="order:1">
    <div align="center">
      <img src="/img/art/construction.png" alt="Hellpuppy and Hellkitty drawing pictures together">
    </div>
  </div>

</div>

<!-- comms status -->

<div id="flex">
<div style="flex:75" align="left">
<h1 style="display:inline-block">Commission status... <img src="/img/pokemon/pika_Q.gif" style="margin-bottom: -4px;" alt="Pikachu thinking pixel"></h1>
</div>

<div style="flex:auto" align="right"><h2 class="{{ comms }}" style="display:inline-block"></h2></div>
</div>

<!-- info -->


  <div class="row">
    <div class="column">
      <div class="outer greenborder" style="padding-top:0">
        <h3 align="center">Avaliable slots</h3>
        <div class="inner">
          {% if comms == "open" %}
            {% include 'slots.njk' %}
          {% endif %}

          {% if comms == "closed" %}
            <p align="center">Commissions are closed, sorry!</p>

          {% endif %}



          <hr class="dashed">
          <div style="font-size: smaller" align="right">
            last updated: {{ "now" | date: "%Y-%m-%d %H:%M" }}
          </div>
        </div>
        {% if comms == "open" %}
        <p align="center">Not seeing something you'd like? Reach out! <img src="/img/mail.gif" alt="Mail pixel"></p>
        {% endif %}

        {% if comms == "closed" %}
        <p align="center">Want to know when they'll open next? Reach out! <img src="/img/mail.gif" alt="Mail pixel"></p>
        {% endif %}
        </div>
    </div>

    <div class="column">
      <div class="outer yellowborder" style="padding-top:0">
        <h3 align="center">Featured work</h3>
        <!-- TY to sen.fish for the inspo on the sticky notes :+) -->
        <div class="inner cork">
        <div id="flex" class="gallery-thumbs" style="flex-direction: column;align-content: center;">
          
          <div class="inner thumb">
            <a href="/img/art/{{ featured }}" data-fancybox data-caption="A gift for my best friend. Read Dead Dead Demon's Dededede Destruction!">
              <img src="/img/art/thumbs/{{ featured }}" alt="A randomly selected featured artwork">
            </a>
          </div>
         
          
      </div>
    </div>
      <p align="center"><img src="/img/sign.gif" alt="Sign pixel"> Check out my gallery for more examples of my work!</p>
      </div>
    </div>

  </div>  
