    <div id="desktop" class="data" style="flex:10%">
        <div><a href="/gallery"><img src="/img/art/splash.gif" alt="Critter pagedoll"></a></div>
        <div class="outer greenborder">
            Choose a subject from the ones below.
        </div>
            <div id="flex" class="tag-holder">
                <h3><img src="/img/pokemon/pikahome2.gif" alt="Pikachu at home pixel"> <a style="color:white" href="/gallery/">Full gallery</a></h3>

                <div class="wooden">
                    <a href="/gallery/tagged/commission/">Commissions</a>
                </div>
                <div class="wooden">
                    <a href="/gallery/tagged/personal/">Personal</a>
                </div>
                <div class="wooden">
                    <a href="/gallery/tagged/fanart/">Fanart</a>
                </div>            
        </div>
    </div>



    <div id="mobilemenu" class="data">

        <div id="flex">
        <div style="height:fit-content"><img src="/img/art/splash.gif" alt="Critter pagedoll"></div>  

        <div class="outer greenborder">
            Choose a subject from the ones here.
        </div>
        </div>

        <div class="tag-holder">
                
                 <h2 style="text-align: center;"><img src="/img/pokemon/pikahome2.gif" alt="Pikachu at home pixel"> <a style="color:white" href="/gallery/">Full gallery</a></h2>

                    <div class="wooden">
                        <a href="/gallery/tagged/commission/">Commissions</a>
                    </div>
                    <div class="wooden">
                        <a href="/gallery/tagged/personal/">Personal</a>
                    </div>
                    <div class="wooden">
                        <a href="/gallery/tagged/fanart/">Fanart</a>
                    </div>      
        </div>
        
    </div>