    <div id="desktop" class="data" style="flex:10%">
        <div><img src="/img/art/splash.gif" alt="Critter pagedoll"></div>
        <div class="outer greenborder">
            Choose a subject from the ones below.
        </div>
            <div id="flex" class="tag-holder">
                <div class="wooden">
                    <a>Commissions</a>
                </div>
                <div class="wooden">
                    <a>Personal</a>
                </div>
                <div class="wooden">
                    <a>Fanart</a>
                </div>            
        </div>
    </div>



    <div id="mobilemenu" class="data">

        <div id="flex">
        <div style="height:fit-content"><img src="/img/art/splash.gif" alt="Critter pagedoll"></div>  

        <div class="outer greenborder">
            Choose a subject from the ones here.
        </div>
        </div>

        <div class="tag-holder">
                
                    <div class="wooden">
                        <a>Commissions</a>
                    </div>
                    <div class="wooden">
                        <a>Personal</a>
                    </div>
                    <div class="wooden">
                        <a>Fanart</a>
                    </div>      
        </div>
        
    </div>