<div class="info column">
      <section class="pagedoll">
        <img src="/img/cirruschibi.png">
      </section>
    <section class="tags">
      <p>blah blah blah blah blah 123 </p>

      <h3 align="center">all entries</h3>
      <h3 align="center">tags</h3>
        <div class="tags">
            <div class="wooden">
                <a href="">Personal</a>
            </div>
            <div class="wooden">
                <a href="">Art</a>
            </div>
            <div class="wooden">
                <a href="">Site</a>
            </div>
            
        </div>
      
    </section>
  </div>