<div id="desktop" class="info column">
      <section class="pagedoll">
        <a href="/journal/"><img src="/img/art/final.gif" alt="Animated pagedoll of my Fursona writing in a book"></a>
      </section>
    <section class="tags">
      <p class="inner">A journal for my thoughts, and a place to rest my head! Sorted from newest to oldest.</p>

      <h3><a style="color:white" href="/journal/"><img src="/img/pokemon/pikahome2.gif" alt="Pikachu at home pixel"> all entries</a> <img src="/img/notebook.gif" alt="Journal opening pixel"></h3>
      <div class="gradient">
      <h3>Sort by tags...</h3>
      </div>
        <div class="tags">
            <div class="wooden">
                <a href="/journal/tagged/personal/">Personal</a>
            </div>
            <div class="wooden">
                <a href="/journal/tagged/art/">Art</a>
            </div>
            <div class="wooden">
                <a href="/journal/tagged/site/">Site</a>
            </div>
            
        </div>
      
    </section>
  </div>

  <div id="mobilemenu" class="info row">

    <section class="pagedoll column">
        <a href="/journal/"><img src="/img/art/final.gif" alt="Animated pagedoll of my Fursona writing in a book"></a>
      
    
      <p class="inner">A journal for my thoughts, and a place to rest my head! Sorted from newest to oldest.</p>
      </section>
       <section class="tags column">
        <h1><img src="/img/pokemon/pikahome2.gif" alt="Pikachu at home pixel"><br><a style="color:white" href="/journal/"><span style="font-size:1.4em">All entries</span></a> <img src="/img/notebook.gif" alt="Journal opening pixel"></h1>
        
        <img src="/img/wavyline.gif" alt="Wavy line divider">

      <h3>Sort by tags...</h3>
      
        <div class="tags">
            <div class="wooden">
                <a href="/journal/tagged/personal/">Personal</a>
            </div>
            <div class="wooden">
                <a href="/journal/tagged/art/">Art</a>
            </div>
            <div class="wooden">
                <a href="/journal/tagged/site/">Site</a>
            </div>
            
        </div>
      
    </section>

  </div>