<div class="info column">
      <section class="pagedoll">
        <img src="/img/art/final.gif">
      </section>
    <section class="tags">
      <p class="inner">A journal for my thoughts, and a place to rest my head! Sorted from newest to oldest.</p>

      <h3><a style="color:white" href="/journal/">all entries</a></h3>
      <div class="gradient">
      <h3>Sort by tags...</h3>
      </div>
        <div class="tags">
            <div class="wooden">
                <a href="">Personal</a>
            </div>
            <div class="wooden">
                <a href="">Art</a>
            </div>
            <div class="wooden">
                <a href="">Site</a>
            </div>
            
        </div>
      
    </section>
  </div>